@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");

:root {
    --white: #FFFFFF;
    --blue: #55C0CF;
    --dark-brown: #2C1E1E;
    --black: #1F1615;
    --brown: #B65F28;
    --yellow: #FFD543;
    --dark-yellow: #e6b710;
    --swiper-theme-color: var(--yellow);
    --swiper-pagination-bullet-inactive-color: rgba(255, 99, 71, 0);
    --swiper-pagination-bullet-horizontal-gap: 16px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--brown);
}

/* TITLE */
.text-style1 {
    font-family: 'Fjalla One';

    & a {
        color: var(--white);
    }
}

/* TEXT BODY */
.text-style2 {
    font-family: 'Droid Serif';
}

/* FIRST BUTTON STYLE */
.button-style1 {
    border: none;
    outline: none;
    background-color: var(--white);
    padding: 15px 35px;
    color: var(--dark-brown);
    border-radius: 5px;
    transition: all 0.1s ease;
    box-shadow: 0px 5px 0px 0px var(--yellow);


    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    &:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px;
    }
}

/* FIRST SEPARATOR STYLE */
.separator-style1 {
    width: 100%;
    background-color: var(--yellow);
    height: 2px;
}

/* CHECKBOX STYLE */
input[type="checkbox"] {
    accent-color: var(--yellow);
}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#header-right p {
    font-size: 1.65em;
    transition: transform 0.1s ease;
    border: 2px solid var(--yellow);
    border-radius: 8px;
    padding: 5px;

    &:hover {
        transform: scale(1.05);
        border-color: var(--dark-yellow);
    }
}

#header-logo img {
    width: 70px;
    margin: 15px;
    transition: transform 0.3s ease;

    &:hover {
        transform: rotate(-30deg) scale(1.03);
    }
}

#cart {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 20px;
    margin-right: 20px;
    transition: transform 0.1s ease;
    border: 2px solid var(--yellow);
    border-radius: 8px;
    padding: 5px;

    & svg {
        width: 35px;
        fill: var(--white);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-color: var(--dark-yellow);
    }
}

#menu {
    display: none;
    margin: 15px;

    & svg {
        width: 60px;
        fill: var(--white);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

/* FOOTER */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 80px;
    gap: 20px;
    background-color: var(--dark-brown);
}

#footer-content {
    display: flex;
    gap: 20px;
}

#informations,
#contact {
    & div.text-style1 {
        font-size: 2.2em;
        color: var(--yellow);
        margin-bottom: 15px;
    }

    & div.text-style2 {
        font-size: 1.1em;
        color: var(--white);

        & a {
            color: var(--white);
        }
    }
}

#informations {
    width: 32%;
}

#contact {
    width: 40%;
}

#social-network {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    & svg {
        width: 70px;
        fill: var(--white);
        transition: all 0.1s ease;

        &:hover {
            transform: scale(1.03);
            fill: hsl(0, 0%, 80%);
        }
    }
}

/* TOGGLEABLE MENU */
#toggle-menu {
    max-height: 0;
    transition: all 0.3s ease;
}

#toggle-menu-content {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
    transition: all 0.3s ease;

    & a {
        font-size: 1.7em;
        text-decoration: underline solid var(--white);
        color: var(--white);
    }
}

@media (max-width: 1000px) {
    #footer {
        flex-direction: column;
    }

    #footer-content {
        justify-content: space-around;
    }
}

@media (max-width: 750px) {

    #header-right div:nth-child(1),
    #header-right div:nth-child(2),
    #header-right div:nth-child(3) {
        display: none;
    }

    #menu {
        display: block;
    }

    #footer {
        align-items: flex-start;
    }

    #footer-content {
        flex-direction: column;
    }

    #informations {
        width: 45%;
    }

    #contact {
        width: 70%;
    }
}