#store {
    background-color: hsl(0, 0%, 97%);
    padding: 40px 40px 40px 5px;
}

#store h1 {
    text-align: center;
    font-size: 3em;
    color: var(--yellow);
    margin-bottom: 50px;
}

#store-wrapper {
    display: flex;
    align-items: start;
    gap: 10%;
}

#all-products {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.single-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 3%;
}

.single-product img {
    width: 250px;
    height: 250px;
    border: 3px solid var(--yellow);
    border-radius: 8px;
    transition: border-color 0.1s ease, transform 0.1s ease;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);

    &:hover {
        border-color: var(--dark-yellow);
        transform: scale(1.01);
    }
}

.single-product button {
    font-size: 1.1em;
}

.filter-zone {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.filter-zone p:hover {
    cursor: pointer;
}

.filter-span {
    font-size: 1.1em;
}

.filter-hide {
    transition: all 3s ease;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin-bottom: 5px;
}

#filter {
    position: relative;
    border: 3px solid var(--yellow);
    border-radius: 8px;
    padding: 20px;
}

#filter p {
    font-size: 1.2em;
    text-decoration: underline;
    margin-bottom: 10px;
}

#filter::after {
    content: "FILTRE";
    font-family: "Fjalla One";
    position: absolute;
    background-color: hsl(0, 0%, 97%);
    top: -2%;
    font-size: 1.2em;
    padding-right: 3px;
    padding-left: 3px;
}

.price-input {
    border: 2px solid var(--yellow);
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    width: 100px;
}

.note-select {
    border: 2px solid var(--yellow);
    border-radius: 5px;
    margin: 2px;
}

@media (max-width: 915px) {
    #store-wrapper {
        flex-direction: column;
        gap: 1em;
    }

    #filter {
        border: none;
    }

    #filter p {
        font-size: 1.5em;
    }

    #filter::after {
        font-size: 1.5em;
    }
}

@media (max-width: 650px) {
    #all-products {
        justify-content: center;
        gap: 2em;
    }
}