.swiper {
    width: 100%;
    height: 88vh;

    & img {
        width: 100%;
        height: 88vh;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    border: 1px solid var(--black);
    opacity: 1;
    width: 16px;
    height: 16px;
}

#inside-carrousel {
    & form {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    & h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 6em;
        color: var(--yellow);
    }

    & button {
        font-size: 1.70em;
    }
}

@media (max-width: 1000px) {
    .swiper {
        height: 100%;

        & img {
            height: 100%;
        }
    }

    #inside-carrousel h1 {
        font-size: 5em;
    }
}

@media (max-width: 750px) {
    #inside-carrousel h1 {
        font-size: 3em;
    }

    #inside-carrousel button {
        font-size: 1.25em;
    }
}

@media (max-width: 430px) {
    #inside-carrousel h1 {
        font-size: 2.5em;
    }

    #inside-carrousel button {
        padding: 15px 25px;
        font-size: 1em;
    }
}

@media(max-width: 350px) {
    #inside-carrousel h1 {
        font-size: 2.2em;
    }

    #inside-carrousel button {
        padding: 15px 20px;
        font-size: 0.9em;
    }
}